h1, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-image: url(../images/sand.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100%;
  background-attachment: fixed;
  font-family: arial, helvetica neue, helvetica, sans-serif;
  color: #777777;
  background-color: #dddddd;
}
#headercontent{
  background-color: #666666;
  width: 100%;
  border-bottom: 5px solid #4aaaa5;
  color: black;
}
footer {
  position: sticky;
  bottom: 0;
  background-color: #666666;
  color: black;
  border-top: 5px solid #4aaaa5;
}
#bigbox{
    margin-left: 200px;
    margin-bottom: 400px;
    margin-top: 100px;
}
#innerbox{
    margin-left: 0px;
    margin-bottom: 25px;
    text-align: center;
}
#innercbox{
  margin-left: 0px;
  margin-bottom: 25px;
}
#mbinner{
    margin-left: 50px;
    margin-right: 50px;
    padding-right: -25px;
    margin-top: 25px;

}
#scbox{
    margin: 30px 30px 20px 190px;
}
