header {
    width: 960px;
}
#myname 
{color: white; 
font-size: 30px; 
border: 1px solid #cccccc; 
background-color: #4aaaa5; 
height: 75px; width: 25%;
text-align:;
width: 25%;
}

.navbar {
    list-style-type: none;
    margin-top: -80px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    float: right;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#about
{color: black;
font-size: 15px;
border-right: 2px solid #cccccc;
background-color: #ffffff;

}

#portfolio
{color: black;
font-size: 15px;
border-right: 2px solid #cccccc;
background-color: #ffffff;

}  

#contact
{color: black;
font-size: 15px;
border-right: ;
background-color: ;

text-align: left
}

#mainbio
{border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    margin-top: -1%;
    margin-left: 10%;
    margin-right: 25%;
    align-content: center;
    background-color: red;
    
    
}
#aboutme
{color: #4aaaa5;
border-bottom: 1px solid #cccccc;
width: 960px;
}
#bio-image
{display: block;
    width: 15%;
    margin-left: 40%;
    margin-right: 50%;
}

#motto
{margin-top: 0%;
margin-left: -4%;
text-align: center;
font-style: italic;
}

p {text-align: left;
}

.container
{background-attachment: fixed;
background-color: aqua;
width: 960px;

}
